PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=961FrjbgjbttpMEjfRk0Z94v1VG_CjY2
DRIVE_DISK=local
CACHE_VIEWS=false
TWITTER_CLIENT_ID=clientId
TWITTER_CLIENT_SECRET=clientSecret
DB_CONNECTION=sqlite
SESSION_DRIVER=cookie
